In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path
import os

In [ ]:
all_data

NameError: name 'all_data' is not defined

In [ ]:
def load_data(root_path):
    """
    Load all cleand data into one dataframe.
    """
    data = []
    for subject_path in Path(root_path).iterdir():
        if not subject_path.is_dir():
            continue
        if not subject_path.name.isdigit():
            continue
        for session_path in subject_path.iterdir():
            for csv_path in session_path.iterdir():
                if not csv_path.name.endswith("data_cleaned.csv"):
                    continue
                print(f"Loading csv file: {csv_path.name}")
                df = pd.read_csv(csv_path, index_col=0)
                df = df.assign(session=int(session_path.name[-1]))
                df = df.assign(subject=int(subject_path.name))
                data.append(df)
    return pd.concat(data, axis=0)


all_data = load_data(root_path)
# coords = all_data[["subject", "session", "Nose.x", "Nose.y", "Neck.x", "Neck.y", "Tail_Base.x", "Tail_Base.y"]]
# groups = coords.groupby(["subject", "session"])

NameError: name 'root_path' is not defined

In [ ]:
# Definiere den Dateipfad
root_path = r"C:\Users\Paula Woest\OneDrive\Desktop\Bachelore Arbeit\Paula"

In [ ]:
all_data

NameError: name 'all_data' is not defined

In [ ]:
def load_data(root_path):
    """
    Load all cleand data into one dataframe.
    """
    data = []
    for subject_path in Path(root_path).iterdir():
        if not subject_path.is_dir():
            continue
        if not subject_path.name.isdigit():
            continue
        for session_path in subject_path.iterdir():
            for csv_path in session_path.iterdir():
                if not csv_path.name.endswith("data_cleaned.csv"):
                    continue
                print(f"Loading csv file: {csv_path.name}")
                df = pd.read_csv(csv_path, index_col=0)
                df = df.assign(session=int(session_path.name[-1]))
                df = df.assign(subject=int(subject_path.name))
                data.append(df)
    return pd.concat(data, axis=0)


all_data = load_data(root_path)
# coords = all_data[["subject", "session", "Nose.x", "Nose.y", "Neck.x", "Neck.y", "Tail_Base.x", "Tail_Base.y"]]
# groups = coords.groupby(["subject", "session"])

Loading csv file: SB_2283_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2283_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2283_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2284_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2284_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2284_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2286_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2286_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2286_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2287_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2287_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2287_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2288_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2288_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2288_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2289_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2289_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2289_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2290_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2290_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2290_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2291_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2291_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2291_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2296_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2296_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2296_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2301_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2301_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2301_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2478_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2478_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2478_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2479_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2479_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2479_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2480_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2480_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2480_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2481_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2481_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2481_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2513_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2513_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2513_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2514_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2514_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2514_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2515_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2515_2_uSoIn_PW_2024-11-19_bl6_data_cleaned.csv
Loading csv file: SB_2515_2_uSoIn_PW_2024-11-19_cd1_data_cleaned.csv
Loading csv file: SB_2537_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2537_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2537_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2539_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2539_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2539_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv
Loading csv file: SB_2542_1_uSoIn_PW_2024-10-29_data_cleaned.csv
Loading csv file: SB_2542_2_uSoIn_PW_2024-11-01_bl6_data_cleaned.csv
Loading csv file: SB_2542_2_uSoIn_PW_2024-11-01_cd1_data_cleaned.csv

In [ ]:
colnames = ["Neck.x", "Neck.y"]
feat_names = [
    feat + "_" + part + "_" + name
    for part in ["fh", "sh"]  # fh = first half, sh = second half
    for feat in "mean".split()
    for name in colnames
]

feature_matrix_1 = []
feature_matrix_2 = []
for (track, subject, session), data in all_data.groupby(["track", "subject", "session"]):

    coordinates = data[["Neck.x", "Neck.y"]]

    # Step 1: Count the number of frames
    num_frames = len(coordinates)

    # Step 2: Divide by two to find the midpoint
    half_point = num_frames // 2  # Integer division

    """
    mean_loc_first_half = coordinates.iloc[:half_point].mean()
    mean_loc_second_half = coordinates.iloc[half_point:].mean()
    median_loc_first_half = coordinates.iloc[:half_point].median()
    median_loc_second_half = coordinates.iloc[half_point:].median()
    std_loc_first_half = coordinates.iloc[:half_point].std()
    std_loc_second_half = coordinates.iloc[half_point:].std()
    """

    new_col = [
        *coordinates.iloc[:half_point].mean(),
        *coordinates.iloc[half_point:].mean(),
    ]

    if session == 1:
        feature_matrix_1.append(new_col)
    else:
        feature_matrix_2.append(new_col)

    if track == "bl_6":
        feature_matrix_2.append(new_col)

feature_matrix_1 = pd.DataFrame(feature_matrix_1, columns=feat_names)
feature_matrix_2 = pd.DataFrame(feature_matrix_2, columns=feat_names)

In [ ]:
feature_matrix_1

    mean_fh_Neck.x  mean_fh_Neck.y  mean_sh_Neck.x  mean_sh_Neck.y
0       518.399407      384.844456      246.369185      406.663168
1       776.186303      644.710724      842.762550      640.702843
2       318.662613      479.361763      347.966835      595.524597
3       247.532417      335.954289      254.933148      316.455470
4       632.647424      359.717176      705.939102      284.208851
5       438.609415      548.013341      433.161152      538.796526
6       459.037951      445.671153      478.202772      348.228022
7       251.691667      410.507308      259.139723      462.588352
8       227.162604      590.722432      314.832888      461.130177
9       703.413878      237.723974      303.983575      435.569187
10      406.090353      842.684592      331.316307      858.454810
11      813.798404      265.234433      823.636346      284.567164
12      761.101426      247.374128      814.690890      265.122578
13      928.921329      721.997307      875.693471      444.352989
14      664.256142      805.104710      433.544679      843.372901
15      508.888847      361.914014      682.163861      229.802496
16      777.772916      245.005722      686.736737      217.234748
17      821.495097      320.972131      726.609250      238.404574
18      761.903608      277.165531      778.791199      364.414365
19      840.621353      350.149550      821.536553      266.291021
20      619.404522      499.332178      605.429417      354.627475
21      690.552450      545.622924      661.358783      441.268211
22      651.862924      508.876613      620.449627      500.845442
23      552.316067      357.426074      565.855156      368.902016
24      728.146466      498.891561      553.528562      434.267093
25      616.930814      557.486470      643.265522      428.842383
26      646.997570      411.694257      688.248292      348.499000
27      643.110145      636.198967      852.212162      725.185401
28      695.694082      443.945086      722.884106      357.807549
29      614.417957      361.139085      660.888830      442.873195
30      707.830618      667.478537      712.100398      548.480310
31      607.432115      443.179444      724.678821      385.849851
32      665.535751      452.301900      732.985117      365.505790
33      828.240102      612.573864      756.865053      465.594015
34      726.826352      546.441383      769.322039      557.757754
35      744.542666      457.289635      761.652485      395.004415
36      690.268632      498.917367      762.267991      463.739138
37      692.252126      479.944004      667.206627      352.496649
38      825.666521      581.832149      811.096461      394.256985
39      691.939991      540.118516      758.141090      405.247896
40      451.586504      343.906247      520.730848      387.330223

In [ ]:
all_data

,track,frame_idx,instance.score,Nose.x,Nose.y,Nose.score,Neck.x,Neck.y,Neck.score,Tail_Base.x,Tail_Base.y,Tail_Base.score,Neck.score_scaled,session,subject
0,track_0,0,0.741461,864.256165,187.907288,0.898868,881.180054,216.787689,0.937300,960.463440,314.383057,0.660719,0.624866,1,2283
1,track_0,1,0.741757,862.320496,186.592621,0.898482,880.682251,215.463394,0.937138,960.276031,314.255737,0.660432,0.624758,1,2283
2,track_0,2,0.741247,860.384827,185.277954,0.931935,880.184448,214.139099,0.917549,960.088623,314.128418,0.547115,0.611699,1,2283
3,track_0,3,0.795745,858.885223,184.876854,0.960124,876.719788,213.628006,0.911389,958.921814,313.763031,0.539397,0.607593,1,2283
4,track_0,4,0.800884,857.385620,184.475754,0.978316,873.255127,213.116913,0.913014,957.755005,313.397644,0.627050,0.608676,1,2283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9102,cd1,9102,0.645763,783.365784,116.108406,0.926771,764.859528,102.451080,0.960845,725.244873,82.574492,0.697860,0.640563,2,2542
9103,cd1,9103,0.812208,812.807983,91.254776,0.922644,785.004700,87.661079,0.950018,713.495056,115.145393,0.235591,0.633345,2,2542
9104,cd1,9104,0.847885,814.407928,89.607063,0.915923,788.480682,87.520012,0.962724,711.021362,121.292576,0.332886,0.641816,2,2542
9105,cd1,9105,0.921297,816.007874,87.959351,0.906872,791.956665,87.378944,0.952959,708.547668,127.439758,0.769825,0.635306,2,2542
9106,cd1,9106,0.950522,818.127228,87.529091,0.896985,792.169708,87.194210,0.953900,708.164215,131.277802,0.741061,0.635933,2,2542

In [ ]:
all_data["track"].uniqeu

AttributeError: 'Series' object has no attribute 'uniqeu'

In [ ]:
all_data["track"].unique()

array(['track_0', 'bl6', 'cd1', 'track_1'], dtype=object)

In [ ]:
all_data["track"] == track_0

NameError: name 'track_0' is not defined

In [ ]:
all_data["track"] == "track_0"

0        True
1        True
2        True
3        True
4        True
        ...
9102    False
9103    False
9104    False
9105    False
9106    False
Name: track, Length: 546210, dtype: bool

In [ ]:
idx = all_data["track"] == "track_0"

In [ ]:
idx

0        True
1        True
2        True
3        True
4        True
        ...
9102    False
9103    False
9104    False
9105    False
9106    False
Name: track, Length: 546210, dtype: bool

In [ ]:
all_data[idx]

,track,frame_idx,instance.score,Nose.x,Nose.y,Nose.score,Neck.x,Neck.y,Neck.score,Tail_Base.x,Tail_Base.y,Tail_Base.score,Neck.score_scaled,session,subject
0,track_0,0,0.741461,864.256165,187.907288,0.898868,881.180054,216.787689,0.937300,960.463440,314.383057,0.660719,0.624866,1,2283
1,track_0,1,0.741757,862.320496,186.592621,0.898482,880.682251,215.463394,0.937138,960.276031,314.255737,0.660432,0.624758,1,2283
2,track_0,2,0.741247,860.384827,185.277954,0.931935,880.184448,214.139099,0.917549,960.088623,314.128418,0.547115,0.611699,1,2283
3,track_0,3,0.795745,858.885223,184.876854,0.960124,876.719788,213.628006,0.911389,958.921814,313.763031,0.539397,0.607593,1,2283
4,track_0,4,0.800884,857.385620,184.475754,0.978316,873.255127,213.116913,0.913014,957.755005,313.397644,0.627050,0.608676,1,2283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9087,track_0,9087,0.990954,651.581482,204.550598,0.751606,669.936157,221.024124,0.974137,760.337646,286.416306,0.823325,0.649425,1,2542
9088,track_0,9088,0.964474,651.303955,204.202454,0.795355,668.938843,220.684219,0.963310,760.149902,287.331390,0.713155,0.642207,1,2542
9089,track_0,9089,0.986396,649.055725,203.028687,0.944662,668.742188,218.907387,1.023893,759.899170,287.710007,0.359546,0.682595,1,2542
9090,track_0,9090,0.977586,646.807495,201.854919,0.991803,668.545532,217.130554,0.973207,759.648438,288.088623,0.375325,0.648804,1,2542
9091,track_0,9091,1.003361,641.903442,201.351578,0.975100,665.113586,216.736008,0.959592,757.519257,287.710007,0.339868,0.639728,1,2542

In [ ]:
all_data[idx].groupby(["subject", "session"])

In [ ]:
all_data[idx].groupby(["subject", "session"])size()

SyntaxError: invalid syntax (<ipython-input-18-96616a8bc076>, line 1)

In [ ]:
all_data[idx].groupby(["subject", "session"]).size()

subject  session
2283     1          9070
2284     1          9000
2286     1          9084
2287     1          9125
2288     1          9052
2289     1          8768
2290     1          9010
2291     1          9071
2296     1          9026
2301     1          9067
2478     1          9053
2479     1          9074
2480     1          9031
2481     1          9057
2513     1          9012
2514     1          9002
2515     1          9023
2537     1          9048
2539     1          9068
2542     1          9014
dtype: int64

In [ ]:
all_data[all_data["track"] == "bl6"].groupby(["subject", "session"]).size()

subject  session
2283     1            22
         2          9107
2284     1            92
         2          9107
2286     1             8
         2          9107
2287     1            57
         2          9107
2288     1            40
         2          9107
2289     1           324
         2          9107
2290     1            12
         2          9107
2291     1            21
         2          9107
2296     1            66
         2          9107
2301     1            25
         2          9107
2478     1            39
         2          9107
2479     1            18
         2          9107
2480     1            61
         2          9107
2481     1            35
         2          9107
2513     1            80
         2          9107
2514     1            90
         2          9107
2515     1            69
         2          9107
2537     1            44
         2          9107
2539     1            24
         2          9107
2542     1            78
         2          9107
dtype: int64

In [ ]:
all_data[all_data["track"] == "cd1"].groupby(["subject", "session"]).size()

subject  session
2283     2          9107
2284     2          9107
2286     2          9107
2287     2          9107
2288     2          9107
2289     2          9107
2290     2          9107
2291     2          9107
2296     2          9107
2301     2          9107
2478     2          9107
2479     2          9107
2480     2          9107
2481     2          9107
2513     2          9107
2514     2          9107
2515     2          9107
2537     2          9107
2539     2          9107
2542     2          9107
dtype: int64

In [ ]:
df = pd.read_csv(r"C:\Users\Paula Woest\OneDrive\Desktop\Bachelore Arbeit\Paula\2283\session1\SB_2283_1_uSoIn_PW_2024-10-29_data_cleaned.csv")

In [ ]:
df[df["track"] == "bl6"].size()

TypeError: 'int' object is not callable

In [ ]:
df[df["track"] == "bl6"].size

308

In [ ]:
df[df["track"] == "bl6"]

,Unnamed: 0,track,frame_idx,instance.score,Nose.x,Nose.y,Nose.score,Neck.x,Neck.y,Neck.score,Tail_Base.x,Tail_Base.y,Tail_Base.score,Neck.score_scaled
772,772,bl6,772,NaN,872.783081,334.015808,NaN,833.151245,326.767517,NaN,717.463257,327.683563,NaN,NaN
773,773,bl6,773,NaN,873.220337,333.256302,NaN,835.059082,325.884811,NaN,717.463257,327.683563,NaN,NaN
776,776,bl6,776,NaN,873.657593,332.105957,NaN,824.932678,325.002106,NaN,717.665039,326.330933,NaN,NaN
777,777,bl6,777,NaN,897.768250,279.869263,NaN,824.932678,312.271729,NaN,717.665039,326.330933,NaN,NaN
778,778,bl6,778,NaN,897.555725,280.488297,NaN,827.469360,307.353439,NaN,717.665039,326.330933,NaN,NaN
1541,1541,bl6,1541,NaN,336.244324,651.353088,NaN,384.259033,700.864624,NaN,464.251648,770.106720,NaN,NaN
3046,3046,bl6,3046,NaN,235.451939,307.418848,NaN,236.779573,275.440592,NaN,258.787758,294.354286,NaN,NaN
8627,8627,bl6,8627,NaN,226.200333,388.498840,NaN,234.045166,413.710175,NaN,302.621582,456.891815,NaN,NaN
8628,8628,bl6,8628,NaN,226.214615,388.547180,NaN,233.976044,413.789719,NaN,302.456863,455.081772,NaN,NaN
8629,8629,bl6,8629,NaN,226.200333,388.595520,NaN,233.906921,413.869263,NaN,302.292145,453.271729,NaN,NaN
8630,8630,bl6,8630,NaN,226.285423,387.657043,NaN,233.881699,418.335037,NaN,302.048172,451.973526,NaN,NaN
8631,8631,bl6,8631,NaN,226.370514,386.494690,NaN,233.856476,422.800812,NaN,301.804199,450.675323,NaN,NaN
8632,8632,bl6,8632,NaN,231.778102,384.195827,NaN,236.535854,419.455069,NaN,300.363273,449.430943,NaN,NaN
8633,8633,bl6,8633,NaN,237.185691,381.896964,NaN,239.215232,416.109327,NaN,298.922346,448.186563,NaN,NaN
8634,8634,bl6,8634,NaN,242.593279,379.598101,NaN,241.894610,412.763585,NaN,297.481419,446.942182,NaN,NaN
8635,8635,bl6,8635,NaN,248.000868,377.299238,NaN,244.573988,409.417842,NaN,296.040492,445.697802,NaN,NaN
8636,8636,bl6,8636,NaN,253.408456,375.000375,NaN,247.253366,406.072100,NaN,294.599566,444.453421,NaN,NaN
8637,8637,bl6,8637,NaN,258.816044,372.701512,NaN,249.932744,402.726358,NaN,293.158639,443.209041,NaN,NaN
8638,8638,bl6,8638,NaN,264.223633,370.402649,NaN,252.612122,399.380615,NaN,291.717712,441.964661,NaN,NaN
8639,8639,bl6,8639,NaN,264.787659,368.393845,NaN,253.297310,396.785278,NaN,292.376343,442.305618,NaN,NaN
8640,8640,bl6,8640,NaN,265.351685,366.385040,NaN,253.982498,394.189941,NaN,293.034973,442.646576,NaN,NaN
8641,8641,bl6,8641,NaN,266.044189,365.718185,NaN,256.906837,393.593918,NaN,292.705170,442.878738,NaN,NaN

In [ ]:
df[df["track"] == "bl6"].shape

(22, 14)